$font: #3c3c3c;
$white: #ffffff;

$purple: #af66a1;
$purple2: #f5f3f9;

$pink: #f07da2;

$navy: #134c86;
$navy2: #1367a5;

$skyblue: #40a5db;

$navbg: #edeae6;
$navbg2: #e2f1fb;

$yellow: #ffff40;

$red: #d52537;

$border: #d9d9d9;
$border2: #989898;

$orange: #ffa800;

$hoverBg: #f3f3f3;

$itemBg: #f6f6f6;
