// ブログエディター
.detail_content_c {
  .wp-caption {
    width: auto !important;
  }

  .alignleft {
    margin-right: auto;
    margin-left: 0;
    text-align: left;
    display: block;

    // @include min-screen($tb) {
    //   float: left;
    //   display: block;
    //   margin-right: 1.5em;

    //   &::after {
    //     display: block;
    //     clear: both;
    //     content: "";
    //   }
    // }
  }

  .alignright {
    margin-right: 0;
    margin-left: auto;
    text-align: right;
    display: block;

    // @include min-screen($tb) {
    //   margin-left: 1.5em;
    //   float: right;
    //   display: block;

    //   &::after {
    //     display: block;
    //     clear: both;
    //     content: "";
    //   }
    // }
  }

  .aligncenter {
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    display: block;
  }

  table {
    margin-bottom: 2em;

    tbody {
      tr {
        border: 1px solid #ccc;

        &:nth-child(2n) {
          background-color: #f8f8f8;
        }

        td {
          padding: 10px;
          border-left: 1px solid #ccc;
        }
      }
    }
  }

  ul {
    margin: 0 0 2em;
    padding-left: 2em;
    list-style-type: disc;
  }

  ol {
    margin: 0 0 2em;
    padding-left: 2em;
    list-style-type: decimal;
  }

  p {
    margin-bottom: 20px;

    @include min-screen($pc) {
      margin-bottom: 22px;
    }

    a {
      display: inline !important;
      color: $navy;
      text-decoration: underline;
      transition: 0 !important;

      &::before {
        font-size: 0.9em;
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        content: "\f35d";
      }

      &:hover {
        text-decoration: none;
        opacity: 0.6;
      }
    }
  }

  h2 {
    margin: 24px 0 16px;
    padding: 4px 0;
    border-bottom: 4px solid $navy;
    font-size: 20px;
    font-weight: 600;

    @include min-screen($pc) {
      margin: 42px 0 20px;
      font-size: 28px;
    }

    span {
      font-weight: 600;
    }
  }

  h3 {
    margin: 24px 0 16px;
    padding: 10px 14px;
    border-radius: 10px;
    background: #f5f5f5;
    font-size: 18px;
    font-weight: 600;

    @include min-screen($pc) {
      margin: 42px 0 20px;
      font-size: 22px;
    }

    span {
      font-weight: 600;
    }
  }

  h4 {
    position: relative;
    margin: 24px 0 16px;
    padding: 0 0 0 30px;
    font-size: 18px;
    font-weight: 600;

    @include min-screen($pc) {
      margin: 42px 0 20px;
      font-size: 20px;
    }

    span {
      font-weight: 600;
    }
  }

  h4:before {
    position: absolute;
    top: 0;
    left: 10px;
    content: "";
    display: block;
    width: 5px;
    height: 100%;
    font-size: 0;
    letter-spacing: 0;
    background: $navy;
    border-radius: 20px;
  }

  img {
    margin-bottom: 20px;

    @include min-screen($pc) {
      margin-bottom: 22px;
    }
  }
}
